.wrapper {
  width: 100%;
  gap: 16px;
  padding: 24px;
}

.cardsList {
  width: 100%;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
}

.cart {
  flex-direction: column;
  width: 300px;
  min-height: 100%;
  padding: 16px;
  gap: 16px;
}
